<mat-card id="search-component">
  <mat-card-title>
      <h4>Report Search</h4>
  </mat-card-title>
  <mat-card-subtitle>
      <mat-form-field>
          <input matInput type="text" placeholder="Fill in the report name" #searchBox id="search-box" (keyup)="search(searchBox.value)" />
          </mat-form-field>
          <mat-list class="searchresult">
            <mat-list-item *ngFor="let report of reports$ | async" >
              <a mat-raised-button routerLink="/detail/{{report.id}}">
                {{report.name}}
              </a>
            </mat-list-item>
          </mat-list>
  </mat-card-subtitle>
</mat-card>